<h3>Add Product</h3>

<div class="form-group" [formGroup]="productFormGroup">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Link</mat-label>
    <input matInput formControlName="link">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Product House</mat-label>
    <mat-select formControlName="house">
      <mat-option *ngFor="let house of productHouses" [value]="house.name">
        {{house.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
  <input hidden (change)="onFileSelected()" #fileInput type="file" id="product-file">
  <br>
  <button type="submit" (click)="onSubmit()">Submit</button>
</div>
